section.page.logout
  h2 Welcome to the Sociomantic pool table Leaderboard — The Pool Party!

  div(data-hook="auth-form")
    h2 Log in
    form.form-signin(role="login-form")
      fieldset(data-hook="field-container")
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
      a(href="register") Don't have an account yet?