section.page.add-player
  
  h2 Add Player

  p The same form-view is used for both editing and creating new users.

  form(data-hook="player-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Submit
