section.page.register
  div.form-group
    form.form-signin(role="form")
      h3.form-signin-heading You're only one step away from joining this awesome place!
      fieldset(data-hook="field-container")
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
