li.player.list-group-item

  if me.isAdmin
    span.btn-group.pull-right
      a.btn.btn-default(data-hook="action-edit") Edit
      a.btn.btn-danger(href="#", data-hook="action-delete") Delete

  img(data-hook="avatar", width="40", height="40")
  a(data-hook="name")

  h6.elo__header Elo Rating
  span.elo(data-hook="elo")

  h6.matches__header Matches
  span.wins(data-hook="wins")
  | /
  span.total(data-hook="matches")
