body
  nav.navbar.navbar-default(data-hook="page-menu")
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Pool Party
      ul.nav.navbar-nav
        li
            a(href="/")
              if me.isLoggedIn
                | Log out
              else
                | Sign in / Sign up
          li
              a(href="/players") Players
        if me.isLoggedIn
          if me.isAdmin
            li
              a(href="/match/add") Add match
          else
            li
              a(href="/match/request" ) Challenge someone

  .container
    main(data-hook="page-container")
