body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Poll Ampersand
      ul.nav.navbar-nav
        li
            a(href="/") home
          li
            a(href="/players") players
        li 
            a(href="/matches/add") add match 
  .container
    main(data-hook="page-container")
